<meta charset="utf-8">
<title>NLP Test Server</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/css/reset.css">

<!--jQuery-->
<script src="/js/jquery-3.5.1.min.js"></script>

<!--Bootstrap-->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.bundle.min.js"></script>

<!--FontAwesome-->
<link rel="stylesheet" href="/css/fontawesome.min.css">

<link rel="stylesheet" href="/css/style.css">