<header class="row">
    <nav class="col navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NLP Test Server</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link <% if(nav_choice == 1){ %>active<% } %>" href="/keyword-ext">키워드 추출 기술</a>
                <a class="nav-item nav-link <% if(nav_choice == 2){ %>active<% } %>" href="/ner">개체명 추출 기술</a>
                <a class="nav-item nav-link <% if(nav_choice == 3){ %>active<% } %>" href="/qna-valid-chk">문제 적합도 평가 기술</a>
            </div>
        </div>
    </nav>
</header>