<div class="col" id="LeftArea">
    <div class="cell">
        <div class="cell-title">
            <p>텍스트</p>
            <button id="LoadRandText-Btn" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                <span class="btn-text"><i class="far fa-copy"></i> 지문 불러오기</span>
                <span class="spinner-border spinner-border-sm d-none"></span>
                <span class="spinner-text d-none">&nbsp;불러오는 중...</span>
            </button>
        </div>
        <div class="cell-content form-group">
            <textarea id="Text" spellcheck="false" class="form-control border border-dark"></textarea>
        </div>
        <input type="hidden" id="TextID" value="">
    </div>
</div>