<!DOCTYPE html>
<html lang="ko">
<head>
    <%- partial('../includes/head') %>
</head>
<body>
    <div class="container-fluid">
        <%- partial('../includes/header') %>

        <div class="content">
            <%- body %>
        </div> 
    </div>
</body>
</html>