<% layout("layouts/default") %>
<div class="row mh-100 h-100 overflow-auto">
	<%- partial("includes/left") %>
    <div class="col mh-100 h-100 overflow-auto" id="RightArea">
		<div class="row">
			<div class="col cell" id="KeyWordConfigCell">
				<div class="cell-title">
					<p>키워드 추출</p>
				</div>
				<div class="cell-content">
					<div class="cell" id="KeywordModelVersionCell">
						<div class="cell-title">
							<p>모델 버전</p>
						</div>
						<div class="cell-content">
							<select class="form-control border-dark" id="KeywordModelVersion">
								<option value="v1.0.0">v1.0.0</option>
							</select>
						</div>
					</div>
			
					<div class="cell" id="KeywordNumCell">
						<div class="cell-title">
							<p>개수</p>
						</div>
						<div class="cell-content">
							<div class="input-group">
								<div class="input-group-prepend">
									<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="KeywordNumDecBtn"><i class="fas fa-chevron-down"></i></button>
								</div>
								<input type="number" class="form-control border-dark input-number-no-control" id="KeywordNum" value="5" min="1">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="KeywordNumIncBtn"><i class="fas fa-chevron-up"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col cell" id="MainSentenceConfigCell">
				<div class="cell-title">
					<p>키워드 추출</p>
				</div>
				<div class="cell-content">
					<div class="cell" id="MainSentenceModelVersionCell">
						<div class="cell-title">
							<p>모델 버전</p>
						</div>
						<div class="cell-content">
							<select class="form-control border-dark" id="MainSentenceModelVersion">
								<option value="v1.0.0" selected>v1.0.0 - komoran tokenizer</option>
								<option value="v2.0.0">v2.0.0 - subword tokenizer</option>
							</select>
						</div>
					</div>
	
					<div class="cell" id="MainSentenceNumCell">
						<div class="cell-title">
							<p>개수</p>
						</div>
						<div class="cell-content">
							<div class="input-group">
								<div class="input-group-prepend">
									<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="MainSentenceNumDecBtn"><i class="fas fa-chevron-down"></i></button>
								</div>
								<input type="number" class="form-control border-dark input-number-no-control" id="MainSentenceNum" value="5" min="1">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="MainSentenceNumIncBtn"><i class="fas fa-chevron-up"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cell d-flex justify-content-end">
			<button type="button" id="Submit-Btn" class="btn btn-primary d-flex align-items-center">
				<span class="btn-text">AI 분석</span>
				<span class="spinner-border spinner-border-sm d-none"></span>
				<span class="spinner-text d-none">&nbsp;분석 중...</span>
			</button>
		</div>

		<div class="cell border border-success rounded p-2 d-none" id="ResultCell-Success">
			<div class="cell-title">
				<p>분석 결과</p>
			</div>

			<div class="cell-content">
				<div class="cell" id="KeywordCell">
					<div class="cell-title">
						<p>키워드</p>
					</div>
					<div class="cell-content">
					</div>
				</div>

				<div class="cell d-flex justify-content-end">
					<button type="button" id="Keyword-Eval-Submit-Btn" class="btn btn-primary d-flex align-items-center">
						<span class="btn-text">키워드 평가 등록하기</span>
						<span class="spinner-border spinner-border-sm d-none"></span>
						<span class="spinner-text d-none">&nbsp;등록 중...</span>
					</button>
				</div>

				<div class="cell" id="NERCell">
					<div class="cell-title">
						<p>NER</p>
					</div>
					<div class="cell-content">
					</div>
				</div>

				<div class="cell" id="MainSentenceCell">
					<div class="cell-title">
						<p>핵심 문장</p>
					</div>
					<div class="cell-content">
					</div>
				</div>

				<div class="cell d-flex justify-content-end">
					<button type="button" id="Main-Sentence-Eval-Submit-Btn" class="btn btn-primary d-flex align-items-center">
						<span class="btn-text">핵심 문장 평가 등록하기</span>
						<span class="spinner-border spinner-border-sm d-none"></span>
						<span class="spinner-text d-none">&nbsp;등록 중...</span>
					</button>
				</div>
			</div>
		</div>

		<div class="cell border border-danger rounded p-2 d-none" id="ResultCell-Failed">
			<div class="cell-title">
				<p>분석 실패</p>
			</div>

			<div class="cell-content"></div>
		</div>
	</div>
</div>

<script src="/js/keyword-ext.js"></script>