<% layout("layouts/default") %>
<%- partial("includes/left") %>
<div id="ToggleLeftAreaBtnContainer">
	<button class="btn btn-outline-secondary border-dark" type="button" id="ToggleLeftAreaBtn"><i class="fas fa-chevron-left"></i></button>
</div>
<div class="mh-100 h-100" id="RightArea">
	<div class="row">
		<div class="col cell" id="KeyWordConfigCell">
			<div class="cell-title">
				<p>키워드 추출</p>
			</div>
			<div class="cell-content">
				<div class="cell" id="KeywordModelVersionCell">
					<div class="cell-title">
						<p>모델 버전</p>
					</div>
					<div class="cell-content">
						<select class="form-control border-dark" id="KeywordModelVersion">
							<option value="v1.0.2">v1.0.2</option>
							<option value="current" selected>current</option>
						</select>
					</div>
				</div>
		
				<div class="cell" id="KeywordNumCell">
					<div class="cell-title">
						<p>개수</p>
					</div>
					<div class="cell-content">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="KeywordNumDecBtn"><i class="fas fa-chevron-down"></i></button>
							</div>
							<input type="number" class="form-control border-dark input-number-no-control" id="KeywordNum" value="5" min="1">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="KeywordNumIncBtn"><i class="fas fa-chevron-up"></i></button>
							</div>
						</div>
					</div>
				</div>

				<div class="cell" id="KeywordHistoryCell">
					<div class="cell-title">
						<p>질의 키워드</p>
					</div>
					<div class="cell-content">
						<input type="text" class="form-control border-dark" id="KeywordHistory">
					</div>
				</div>
			</div>
		</div>

		<div class="col cell" id="MainSentenceConfigCell">
			<div class="cell-title">
				<p>핵심 문장 추출</p>
			</div>
			<div class="cell-content">
				<div class="cell" id="MainSentenceModelVersionCell">
					<div class="cell-title">
						<p>모델 버전</p>
					</div>
					<div class="cell-content">
						<select class="form-control border-dark" id="MainSentenceModelVersion">
							<option value="v1.0.0">v1.0.0 - komoran tokenizer</option>
							<option value="v2.0.0">v2.0.0 - subword tokenizer</option>
							<option value="current" selected>v3.0.0 - Current - komoran + subword + duplication filter</option>
						</select>
					</div>
				</div>

				<div class="cell" id="MainSentenceNumCell">
					<div class="cell-title">
						<p>개수</p>
					</div>
					<div class="cell-content">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="MainSentenceNumDecBtn"><i class="fas fa-chevron-down"></i></button>
							</div>
							<input type="number" class="form-control border-dark input-number-no-control" id="MainSentenceNum" value="5" min="1">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary border-dark btn-sm" type="button" id="MainSentenceNumIncBtn"><i class="fas fa-chevron-up"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cell d-flex justify-content-end">
		<button type="button" id="Submit-Btn" class="btn btn-primary d-flex align-items-center">
			<span class="btn-text">AI 분석</span>
			<span class="spinner-border spinner-border-sm d-none"></span>
			<span class="spinner-text d-none">&nbsp;분석 중...</span>
		</button>
	</div>

	<div class="cell border border-success rounded p-2 d-none" id="ResultCell-Success">
		<div class="cell-title">
			<p>분석 결과</p>
		</div>

		<div class="cell-content">
			<div class="row">
				<div class="cell col" id="KeywordCell">
					<div class="cell-title">
						<p>키워드</p>
					</div>
	
					<div class="cell-content">
					</div>
	
					<div class="d-flex justify-content-end">
						<button type="button" id="Keyword-Eval-Submit-Btn" class="btn btn-primary d-flex align-items-center">
							<span class="btn-text">키워드 평가 등록하기</span>
							<span class="spinner-border spinner-border-sm d-none"></span>
							<span class="spinner-text d-none">&nbsp;등록 중...</span>
						</button>
					</div>
				</div>

				<div class="cell col" id="NERCell">
					<div class="cell-title">
						<p>NER(OURS)<span id="ToggleNERSummaryBtn"><i class="far fa-list-alt"></i></span><span id="ToggleNERFilterBtn"><i class="far fa-check-square"></i></span></p>
					</div>
					<div class="cell-content">
						<div class="summary d-none"></div>
						<div class="filter d-none">
							<div class="options">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-TRM" value="TRM">
									<label class="form-check-label" for="NER-Tag-TRM">TRM</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-LOC" value="LOC">
									<label class="form-check-label" for="NER-Tag-LOC">LOC</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-CVL" value="CVL">
									<label class="form-check-label" for="NER-Tag-CVL">CVL</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-ANM" value="ANM">
									<label class="form-check-label" for="NER-Tag-ANM">ANM</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-BDY" value="BDY">
									<label class="form-check-label" for="NER-Tag-BDY">BDY</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-ORG" value="ORG">
									<label class="form-check-label" for="NER-Tag-ORG">ORG</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-EVT" value="EVT">
									<label class="form-check-label" for="NER-Tag-EVT">EVT</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-DAT" value="DAT">
									<label class="form-check-label" for="NER-Tag-DAT">DAT</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-NUM" value="NUM">
									<label class="form-check-label" for="NER-Tag-NUM">NUM</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-PER" value="PER">
									<label class="form-check-label" for="NER-Tag-PER">PER</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-TIM" value="TIM">
									<label class="form-check-label" for="NER-Tag-TIM">TIM</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-AFW" value="AFW">
									<label class="form-check-label" for="NER-Tag-AFW">AFW</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-FLD" value="FLD">
									<label class="form-check-label" for="NER-Tag-FLD">FLD</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-MAT" value="MAT">
									<label class="form-check-label" for="NER-Tag-MAT">MAT</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="NER-Tag-PLT" value="PLT">
									<label class="form-check-label" for="NER-Tag-PLT">PLT</label>
								</div>
							</div>
							<button type="button" id="NER-Tag-Reset-Btn" class="btn btn-secondary">Reset</button>
						</div>
						<div class="word-cloud"></div>
					</div>
				</div>

				<div class="cell col" id="ETRINERCell">
					<div class="cell-title">
						<p>ETRI NER (API 호출)<span id="ToggleETRINERSummaryBtn"><i class="far fa-list-alt"></i></span><span id="ToggleETRINERFilterBtn"><i class="far fa-check-square"></i></span></p>
					</div>
					<div class="cell-content">
						<div class="summary d-none"></div>
						<div class="filter d-none">
							<div class="options">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-PS" value="PS">
									<label class="form-check-label" for="ETRI-NER-Tag-PS">PS</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-LC" value="LC">
									<label class="form-check-label" for="ETRI-NER-Tag-LC">LC</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-OG" value="OG">
									<label class="form-check-label" for="ETRI-NER-Tag-OG">OG</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-AF" value="AF">
									<label class="form-check-label" for="ETRI-NER-Tag-AF">AF</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-DT" value="DT">
									<label class="form-check-label" for="ETRI-NER-Tag-DT">DT</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-TI" value="TI">
									<label class="form-check-label" for="ETRI-NER-Tag-TI">TI</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-CV" value="CV">
									<label class="form-check-label" for="ETRI-NER-Tag-CV">CV</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-AM" value="AM">
									<label class="form-check-label" for="ETRI-NER-Tag-AM">AM</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-PT" value="PT">
									<label class="form-check-label" for="ETRI-NER-Tag-PT">PT</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-QT" value="QT">
									<label class="form-check-label" for="ETRI-NER-Tag-QT">QT</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-FD" value="FD">
									<label class="form-check-label" for="ETRI-NER-Tag-FD">FD</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-TR" value="TR">
									<label class="form-check-label" for="ETRI-NER-Tag-TR">TR</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-EV" value="EV">
									<label class="form-check-label" for="ETRI-NER-Tag-EV">EV</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-MT" value="MT">
									<label class="form-check-label" for="ETRI-NER-Tag-MT">MT</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="ETRI-NER-Tag-TM" value="TM">
									<label class="form-check-label" for="ETRI-NER-Tag-TM">TM</label>
								</div>
							</div>
							<button type="button" id="ETRI-NER-Tag-Reset-Btn" class="btn btn-secondary">Reset</button>
						</div>
						<div class="word-cloud"></div>
					</div>
				</div>
			</div>

			<div class="cell" id="MainSentenceCell">
				<div class="cell-title">
					<p>핵심 문장</p>
				</div>

				<div class="cell-content">
				</div>

				<div class="d-flex justify-content-end">
					<button type="button" id="Main-Sentence-Eval-Submit-Btn" class="btn btn-primary d-flex align-items-center">
						<span class="btn-text">핵심 문장 평가 등록하기</span>
						<span class="spinner-border spinner-border-sm d-none"></span>
						<span class="spinner-text d-none">&nbsp;등록 중...</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="cell border border-danger rounded p-2 d-none" id="ResultCell-Failed">
		<div class="cell-title">
			<p>분석 실패</p>
		</div>

		<div class="cell-content"></div>
	</div>
</div>


<script src="/js/keyword-ext.js"></script>