{% extends 'demo.html' %}

{% block content %}

<div class="row mh-100 h-100 overflow-auto">
	<div class="col mh-100 h-100 overflow-auto" id="left-area">
		<div class="cell h-100 d-flex flex-column">
			<div class="cell-title">
				<p>텍스트</p>
				<button id="load-rand-text-btn" class="btn btn-outline-primary btn-sm d-flex align-items-center">
					<span class="btn-text"><i class="far fa-copy"></i> 지문 불러오기</span>
					<span class="spinner-border spinner-border-sm d-none"></span>
					<span class="spinner-text d-none">&nbsp;불러오는 중...</span>
				</button>
			</div>
			<div class="cell-content form-group flex-grow-1">
				<textarea id="text" spellcheck="false" class="form-control border border-dark"></textarea>
			</div>
			<input type="hidden" id="text-id" value="">
		</div>
    </div>
    <div class="col mh-100 h-100 overflow-auto" id="right-area">
        <div class="cell">
			<div class="cell-title">
				<p>키워드 목록</p>
			</div>
			<div class="cell-content">
				<input type="text" id="keyword-list" name="keyword-list" class="form-control border border-dark">
			</div>
		</div>
		<div class="cell d-flex justify-content-end">
			<button type="submit" id="submit-button" class="btn btn-primary d-flex align-items-center">
				<span class="btn-text">AI 분석</span>
				<span class="spinner-border spinner-border-sm d-none"></span>
				<span class="spinner-text d-none">&nbsp;분석 중...</span>
			</button>
		</div>
		<div class="cell border border-success rounded p-2" id="cell-result">

		</div>
		<div class="cell border border-danger rounded p-2" id="cell-result">
			<div class="cell-title">
				<p>분석 실패</p>
			</div>
			<div class="cell-content"></div>
		</div>
	</div>
</div>

{% endblock content %}