html {
    height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

#LeftRightAreaContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 2;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#LeftArea,
#RightArea {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#ToggleLeftAreaBtnContainer {
    padding-left: 10px;
    padding-right: 10px;
}

#LeftArea div.cell {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

#LeftArea div.cell-content {
    flex: 2;
}

#LeftArea div.cell div.cell-title div.load-text-control {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
}

#LeftArea div.cell div.cell-title div.load-text-btns-cell {
    display: flex;
}

.d-flex > .flex-even {
    flex: 1;
}

.cell {
    margin-bottom: 20px;
}

.cell:last-of-type {
    margin-bottom: 0px;
}

.cell .cell-title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell .cell-title p {
    margin-bottom: 0px;
    font-size: 1.1em;
}

#Text {
    resize: none;
    min-height: 100%;
    height: 100%;
}

.ans-cell-choice .cell-content > div {
    margin-bottom: 10px;
}

.ans-cell-choice .cell-content > div:last-of-type {
    margin-bottom: 0px;
}

#ResultCell-Success > div.cell-content {
    margin-top: 10px;
    margin-left: 10px;
}

#KeywordCell > div.cell-content,
#NERCell > div.cell-content,
#MainSentenceCell > div.cell-content {
    padding-left: 10px;
}

#KeywordCell > div.cell-content > div.input-group,
#MainSentenceCell > div.cell-content > div.input-group {
    margin-bottom: 5px;
}

#Sentence > div {
    margin-bottom: 5px;
}

#SentenceCell > div.cell-content > div.sentence-nav-btns {
    margin-top: 15px;
}

input[type=number].input-number-no-control::-webkit-outer-spin-button,
input[type=number].input-number-no-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number].input-number-no-control {
    -moz-appearance: textfield;
}

#NERCell div.cell-content,
#ETRINERCell div.cell-content {
    line-height: 2em;
}

#NERCell div.cell-content span.word-tag,
#ETRINERCell div.cell-content span.word-tag {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: calc(0.5em + 6px);
    margin: 5px;
    word-break: keep-all;
    white-space: nowrap;
}

#NERCell div.cell-content span.word-tag.dominant-tag-TRM,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-TM {
    background-color: lightblue;
}

#NERCell div.cell-content span.word-tag.dominant-tag-LOC,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-LC {
    background-color: yellow;
}

#NERCell div.cell-content span.word-tag.dominant-tag-CVL,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-CV {
    background-color: lightcoral;
}

#NERCell div.cell-content span.word-tag.dominant-tag-ANM,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-AM {
    background-color: lightgray;
}

#NERCell div.cell-content span.word-tag.dominant-tag-BDY,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-AM {
    background-color: darkgrey;
}

#NERCell div.cell-content span.word-tag.dominant-tag-ORG,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-OG {
    background-color: lightcyan;
}

#NERCell div.cell-content span.word-tag.dominant-tag-EVT,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-EV {
    background-color: lightgreen;
}

#NERCell div.cell-content span.word-tag.dominant-tag-DAT,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-DT {
    background-color: lightpink;
}

#NERCell div.cell-content span.word-tag.dominant-tag-NUM,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-QT {
    background-color: lightgoldenrodyellow;
}

#NERCell div.cell-content span.word-tag.dominant-tag-PER,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-PS {
    background-color: lightskyblue;
}

#NERCell div.cell-content span.word-tag.dominant-tag-TIM,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-TI {
    background-color: lightseagreen;
}

#NERCell div.cell-content span.word-tag.dominant-tag-AFW,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-AF {
    background-color: palevioletred;
}

#NERCell div.cell-content span.word-tag.dominant-tag-FLD,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-FD {
    background-color: lightsalmon;
}

#NERCell div.cell-content span.word-tag.dominant-tag-MAT,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-MT {
    background-color: lightsteelblue;
}

#NERCell div.cell-content span.word-tag.dominant-tag-PLT,
#ETRINERCell div.cell-content span.word-tag.dominant-tag-PT {
    background-color: lightslategray;
}

#NERCell div.cell-content div.filter,
#ETRINERCell div.cell-content div.filter {
    display: grid;
    grid-template-columns: 1fr auto;
}

#ToggleNERSummaryBtn,
#ToggleNERFilterBtn,
#ToggleETRINERSummaryBtn,
#ToggleETRINERFilterBtn {
    margin-left: 10px;
    cursor: pointer;
    color: lightgray;
}


