html {
    height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

div.content {
    flex: 2;
    overflow: hidden;
}

div.content > div.row {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
}

div.content > div.row > div.col {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

#LeftArea div.cell {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

#LeftArea div.cell-content {
    flex: 2;
}

.d-flex > .flex-even {
    flex: 1;
}

.content {
    padding: 15px;
}

.cell {
    margin-bottom: 20px;
}

.cell:last-of-type {
    margin-bottom: 0px;
}

.cell .cell-title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell .cell-title p {
    margin-bottom: 0px;
    font-size: 1.1em;
}

.cell .cell-content {
    margin-bottom: 0px;
}

.textarea {
    height: 100%;
}

#Text {
    resize: none;
    min-height: 100%;
    height: 100%;
}

.ans-cell-choice .cell-content > div {
    margin-bottom: 10px;
}

.ans-cell-choice .cell-content > div:last-of-type {
    margin-bottom: 0px;
}

#ResultCell-Success > div.cell-content {
    margin-top: 10px;
    margin-left: 10px;
}

#ResultCell-Success > div.cell-content > div.cell > div.cell-content {
    padding-left: 10px;
}

#ResultCell-Success > div.cell-content > div.cell > div.cell-content > div {
    margin-bottom: 5px;
}

#ResultCell-Success pre {
    background-color: #e9ecef;
    padding: 0.375rem 0.75rem;
    border: 1px solid #343a40;
    border-radius: 0.25rem;
}

#Sentence > div {
    margin-bottom: 5px;
}

#SentenceCell > div.cell-content > div.sentence-nav-btns {
    margin-top: 15px;
}