html {
    height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

div.content {
    flex: 2;
    overflow: hidden;
}

div.content > div.row {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
}

div.content > div.row > div.col {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

#LeftArea div.cell {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

#LeftArea div.cell-content {
    flex: 2;
}

.d-flex > .flex-even {
    flex: 1;
}

.content {
    padding: 15px;
}

.cell {
    margin-bottom: 20px;
}

.cell:last-of-type {
    margin-bottom: 0px;
}

.cell .cell-title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell .cell-title p {
    margin-bottom: 0px;
    font-size: 1.1em;
}

.cell .cell-content {
    margin-bottom: 0px;
}

.textarea {
    height: 100%;
}

#Text {
    resize: none;
    min-height: 100%;
    height: 100%;
}

.ans-cell-choice .cell-content > div {
    margin-bottom: 10px;
}

.ans-cell-choice .cell-content > div:last-of-type {
    margin-bottom: 0px;
}

#ResultCell-Success > div.cell-content {
    margin-top: 10px;
    margin-left: 10px;
}

#ResultCell-Success > div.cell-content > div.cell > div.cell-content {
    padding-left: 10px;
}

#ResultCell-Success > div.cell-content > div.cell > div.cell-content > div {
    margin-bottom: 5px;
}

#ResultCell-Success pre {
    background-color: #e9ecef;
    padding: 0.375rem 0.75rem;
    border: 1px solid #343a40;
    border-radius: 0.25rem;
}

#Sentence > div {
    margin-bottom: 5px;
}

#SentenceCell > div.cell-content > div.sentence-nav-btns {
    margin-top: 15px;
}

#LeftArea div.cell div.cell-title div.load-text-btns-cell {
    display: flex;
}

input[type=number].input-number-no-control::-webkit-outer-spin-button,
input[type=number].input-number-no-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number].input-number-no-control {
    -moz-appearance: textfield;
}

#LeftArea div.cell div.cell-title div.load-text-control {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
}

#NERCell div.cell-content {
    line-height: 2em;
}

#NERCell div.cell-content span.word-tag {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: calc(0.5em + 6px);
    margin: 5px;
    word-break: keep-all;
    white-space: nowrap;
}

#NERCell div.cell-content span.word-tag.tag-TRM,
#NERCell div.cell-content span.word-tag.tag-TRM-B,
#NERCell div.cell-content span.word-tag.tag-TRM-I {
    background-color: lightblue;
}

#NERCell div.cell-content span.word-tag.tag-LOC,
#NERCell div.cell-content span.word-tag.tag-LOC-B,
#NERCell div.cell-content span.word-tag.tag-LOC-I {
    background-color: yellow;
}

#NERCell div.cell-content span.word-tag.tag-CVL,
#NERCell div.cell-content span.word-tag.tag-CVL-B,
#NERCell div.cell-content span.word-tag.tag-CVL-I {
    background-color: lightcoral;
}

#NERCell div.cell-content span.word-tag.tag-ANM,
#NERCell div.cell-content span.word-tag.tag-ANM-B,
#NERCell div.cell-content span.word-tag.tag-ANM-I {
    background-color: lightgray;
}

#NERCell div.cell-content span.word-tag.tag-ORG,
#NERCell div.cell-content span.word-tag.tag-ORG-B,
#NERCell div.cell-content span.word-tag.tag-ORG-I {
    background-color: lightcyan;
}

#NERCell div.cell-content span.word-tag.tag-EVT,
#NERCell div.cell-content span.word-tag.tag-EVT-B,
#NERCell div.cell-content span.word-tag.tag-EVT-I {
    background-color: lightgreen;
}

#NERCell div.cell-content span.word-tag.tag-DAT,
#NERCell div.cell-content span.word-tag.tag-DAT-B,
#NERCell div.cell-content span.word-tag.tag-DAT-I {
    background-color: lightpink;
}

#NERCell div.cell-content span.word-tag.tag-NUM,
#NERCell div.cell-content span.word-tag.tag-NUM-B,
#NERCell div.cell-content span.word-tag.tag-NUM-I {
    background-color: lightgoldenrodyellow;
}

#NERCell div.cell-content span.word-tag.tag-PER,
#NERCell div.cell-content span.word-tag.tag-PER-B,
#NERCell div.cell-content span.word-tag.tag-PER-I {
    background-color: lightskyblue;
}

#NERCell div.cell-content span.word-tag.tag-TIM,
#NERCell div.cell-content span.word-tag.tag-TIM-B,
#NERCell div.cell-content span.word-tag.tag-TIM-I {
    background-color: lightseagreen;
}

#NERCell div.cell-content span.word-tag.tag-AFW,
#NERCell div.cell-content span.word-tag.tag-AFW-B,
#NERCell div.cell-content span.word-tag.tag-AFW-I {
    background-color: lightyellow;
}

#NERCell div.cell-content span.word-tag.tag-FLD,
#NERCell div.cell-content span.word-tag.tag-FLD-B,
#NERCell div.cell-content span.word-tag.tag-FLD-I {
    background-color: lightsalmon;
}

#NERCell div.cell-content span.word-tag.tag-MAT,
#NERCell div.cell-content span.word-tag.tag-MAT-B,
#NERCell div.cell-content span.word-tag.tag-MAT-I {
    background-color: lightsteelblue;
}

#NERCell div.cell-content span.word-tag.tag-PLT,
#NERCell div.cell-content span.word-tag.tag-PLT-B,
#NERCell div.cell-content span.word-tag.tag-PLT-I {
    background-color: lightslategray;
}

#NERCell div.cell-content div.filter {
    display: grid;
    grid-template-columns: 1fr auto;
}